<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8" />
		<title>Remote Control</title>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="container">
			<h1>This is the remote, the best remote, the greatest</h1>

			<div id="controls">
				<h2>Controls</h2>

				<a href="/player-controls/play" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-play"></i></a>
				<a href="/player-controls/pause" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-pause"></i></a>
				<a href="/player-controls/previous" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-fast-backward"></i></a>
				<a href="/player-controls/stop" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-stop"></i></a>
				<a href="/player-controls/next" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-fast-forward"></i></a>
				<a href="/player-controls/exit" class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
			</div>

			<ul class="list-group" id="files">
				<% files.forEach(function(file) { %>
					<li class="list-group-item">
					<a href="/player-controls/start/<%= file.id %>" class="play btn btn-sm btn-primary"><i class="glyphicon glyphicon-play"></i></a>
					<a href="/player-controls/enqueue/<%= file.id %>" class="enqueue btn btn-sm btn-default"><i class="glyphicon glyphicon-tasks"></i></a>
					<span class="file-location"><%= file.name %></span>
				</li>
				<% }) %>
			</ul>
			<form method="POST" action="/folders/add" class="form-horizontal">
				<div class="input-group">
        				<input type="text" id="folder" name="folder" class="form-control" placeholder="C:\Users\Tich\Videos"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Add Folder</button>
						</span>
        			</div>
			</form>
			<ul>
				<% folders.forEach(function(folder) { %>
					<li class="list-group-item">
						<a href="/folders/view/<%= folder.id %>"><%= folder.location %></a>
						<a href="/folders/delete/<%= folder.id %>" class="remove btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i> Remove</a>
					</li>
				<% }) %>
			</ul>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){

				$("#files a").on('click', linkHandler);
				$("#controls a").on('click', linkHandler);
				$(".remove").on('click', linkHandler);
			});

			var linkHandler = function (e) {
			    e.preventDefault();
			    var href = $(this).attr('href');
			    
			    ajaxSend(href, {});
			};

			var ajaxSend = function(url, data) {
				$.ajax({
		            url: url,
		            type: 'POST',
		            data: data,
		            success: function(response) {
		                console.log("success");
		            },
		            error: function(response) {
		                console.log("An error occured while calling AJAX.");
		            }
		        });
			}
		</script>
	</body>
</html>